<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Backers</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.description %></td>
        <td><%= challenge.amount %></td>
        <td><%= challenge.backers.count %></td>
        <td><%= link_to 'Join', challenge_path(challenge) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_challenge_path %>
