<%= javascript_include_tag 'https://js.stripe.com/v2/' %>
<%= javascript_tag "Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');" %>
<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @challenge.amount %>
</p>

<%= form_for @backer, url: join_challenge_path(@challenge), html: {id: 'capture-payment' } do |f| %>

  <% if @backer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backer.errors.count, "error") %> prohibited this @backer from being saved:</h2>

      <ul>
      <% @backer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @backer.persisted? %>
    <%= f.label :name %>
    <p><%= @backer.name %></p>
    <%= f.hidden_field :name, val: @backer.name %>

    <%= f.label :email %>
    <p><%= @backer.email %></p>
    <%= f.hidden_field :email, val: @backer.email %>
  <% else %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  <% end %>

  <%= f.label :card_number %>
  <%= text_field_tag :card_number %>

  <%= f.label :exp_month %>
  <%= number_field_tag :exp_month, nil, min: 0, max: 12 %>

  <%= f.label :exp_year %>
  <%= number_field_tag :exp_year, nil, min: 2016, max: 2050 %>

  <%= f.label :card_verification, 'CVC' %>
  <%= number_field_tag :card_verification %>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>

<% end %>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
